<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="Recipe-Search">
    <h1>Recipes</h1>
    <ion-button shape="round">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </div>

  <div id="match-recipe">
    <ion-card>
      <ion-card-content>
        insert content here
      </ion-card-content>
    </ion-card>
  </div>

  <div id="category">
    <h1>Other Recipes By Category</h1>

    <ion-card>
      <ion-card-content>
        <ion-card *ngFor="let cat of categories">
          <ion-card-title>{{cat}}</ion-card-title>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
