<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="Recipe-Search">
    <h1>Recipes</h1>
    <ion-button shape="round">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </div>

  <div id="match-recipe">
    <ion-card>
      <ion-card-title>Perfect Match!</ion-card-title>
      <ion-card-content>This recipe uses the below ingredients low on stock or close to expiry, finishing most of them.
        <br>
      <label><input type="checkbox" checked> 500g chicken breasts </label><br>
      <label><input type="checkbox" checked> 150 ml yogurt </label><br>
      <label><input type="checkbox" checked> 400g can tomatoes </label>
      </ion-card-content>
      <ion-card-content>
        <ion-card (click)="openRecipe()"> 
          <img alt="{{recipes[1].title}}" src="{{recipes[1].image}}" />
          <ion-card-header>
            <ion-card-title>{{recipes[1].title}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </div>

  <div id="category">
    <h1>Other Recipes By Category</h1>

    <ion-card>
      <ion-card-content>
        <ion-card *ngFor="let cat of categories; let i = index" [ngStyle]="{'background-image': 'url(' + categoriesImages[i] + ')'}">
          <ion-card-title>{{cat}}</ion-card-title>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
