<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bookmarks</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <h1>Saved Recipes</h1>

  <div id="saved-list">
  
    <div class="item border" *ngFor="let recipe of bookmarked">
      <ion-button class="bookmark" fill="clear" (click)="removeBookmark(recipe)">
        <ion-icon slot="icon-only" name="bookmark" size="large"></ion-icon>
      </ion-button>

      <ion-card (click)="openRecipeDetails(recipe.id)">
        <ion-card-content>
          <!-- <img src="{{recipe.image}}" /> -->
          
            
            <img id="recipe-image" class="padding-bottom" alt="PLACEHOLDER" src="{{recipe.image}}">

          <div>
            <ion-card-title>{{recipe.title}}</ion-card-title>
            <p>Prep: {{recipe.prep_time}}</p>
            <p>Cook: {{recipe.cook_time}}</p>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    
  </div>

</ion-content>
