<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bookmarks</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <h1>Saved Recipes</h1>

  <div id="saved-list">
    <!-- ng For -->
    <ion-card>
      <ion-card-content>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <div>
          <ion-card-title>Card Subtitle</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
