ion-content {
    --background: #FFF9ED;
}

h1 {
    padding-top: 20%;
    margin-left: 16px;
}

#saved-list ion-card {
    --background: white;
}

#saved-list ion-card ion-card-content {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    
    img {
        border-radius: 8px;
        height: 150px;
        width: 150px;
        object-fit: cover;
        z-index: 0;
    }
}

.border {
    position: relative;
    z-index: 2;

	
}

.bookmark {

    position: absolute;
    margin: auto;
    z-index: 2;
    top: 20px;
    left: 25px;
}

#recipe-image {
	width: 65%;
	height: 65%;
}

ion-icon {
    color: black; 
    padding: 5px;
}
