<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Update Grocery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <input type="file" id="fileInput" hidden (change)="onFileSelected($event)" />
  <!-- //<img src="{{item.image}}"/> -->
  <label for="fileInput">
    <img id="uploadedImage" src="{{item.image}}" />
  </label>
  
  <!-- <img *ngIf="item.image===''" src="https://ionicframework.com/docs/img/demos/card-media.png"/> -->
  
  <div class="center">
    <ion-input id="item-name" aria-label="Item Name" placeholder="Enter Item Name" [(ngModel)]="item_name" fill="outline" color="primary"></ion-input>
  </div>
  

  <ion-list id="type-options">
    <ion-radio-group [(ngModel)]="type">
      <ion-item>
        <ion-radio labelPlacement="end" value="Fridge">Fridge</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio labelPlacement="end" value="Pantry">Pantry</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <h3>Quantity</h3>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="quant-picker">
          <ion-button (click)="decrementQuantity()"><ion-icon name="remove"></ion-icon></ion-button> 
          <ion-input aria-label="Quantity" [(ngModel)]="quantity"></ion-input>
          <ion-button (click)="incrementQuantity()"><ion-icon name="add"></ion-icon></ion-button>
        </div>
      </ion-col>
      <ion-col>
        <ion-list id="unit-picker">
          <ion-item>
            <ion-select aria-label="Unit of Measure" value="ct" [(ngModel)]="unit">
              <ion-select-option value="oz">oz</ion-select-option>
              <ion-select-option value="lbs">lbs</ion-select-option>
              <ion-select-option value="ct">ct</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
  
  <br>
  <div class="center">
    <ion-button (click)="updateItem()">Update Item</ion-button>
    <ion-button (click)="deleteItem()">Delete Item</ion-button>
  </div>

</ion-content>
