<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Welcome Back, [User]</h1>

  <div id="low-in-stock">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Low in Stock</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card>
          grocery pictures in here, probably a for loop through groceries with quantity and image.
        </ion-card>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Recommended Recipes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card>
        
        <ion-card-header>
          <ion-card-title>Recipe #1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          [Short Recipe Description goes here]
        </ion-card-content>
      </ion-card>

    </ion-card-content>
  </ion-card>

</ion-content>
