
<ion-content [fullscreen]="true" class="ion-padding">
    <h1>Welcome Back, [User]</h1>
    
    <div id="low-in-stock">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Low in Stock</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card *ngFor="let item of lowInStock">
            <ion-card-header>
              <ion-card-title>{{item.name}}</ion-card-title>
              <ion-card-subtitle>{{item.quantity}}</ion-card-subtitle>
              <ion-card-subtitle>{{item.unit}}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>

        </ion-card-content>
      </ion-card>
    </div>

    <div id="recommended-recipes">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Recommended Recipes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card *ngFor="let recipe of recipes">
            <ion-card-header>
              <ion-card-title>{{recipe.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              [Short Recipe Description goes here]
            </ion-card-content>
          </ion-card>

        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
