<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>grocery</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="Add-Items">
    <h1>Groceries</h1>
    <ion-button shape="round">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </div>

  <div id="Fridge">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Fridge</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card>
          Fridge Item #1
        </ion-card>

        <ion-card>
          Fridge Item #2
        </ion-card>

        <ion-card>
          Fridge Item #3
        </ion-card>

        <ion-card>
          Fridge Item #4
        </ion-card>
      </ion-card-content>

    </ion-card>
  </div>

  <div id="Pantry">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Pantry</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card>
          Pantry Item #1
        </ion-card>

        <ion-card>
          Pantry Item #2
        </ion-card>

        <ion-card>
          Pantry Item #3
        </ion-card>

        <ion-card>
          Fridge Item #4
        </ion-card>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
