<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>grocery</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="Add-Items">
    <h1>Groceries</h1>
    <ion-button shape="round" (click)="openAddModal()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </div>

  <div id="Fridge">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Fridge</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngFor="let item of allItems">
          <ion-card *ngIf="item.type ==='Fridge Item'" (click)="openUpdateModal()">
            <img alt="Image of {{item.name}}" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>{{item.name}}</ion-card-header>
          </ion-card>
        </ng-container>
      </ion-card-content>

    </ion-card>
  </div>

  <div id="Pantry">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Pantry</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngFor="let item of allItems">
          <ion-card *ngIf="item.type === 'Pantry/Cabinet Item'" (click)="openUpdateModal()">
            <img alt="Image of {{item.name}}" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>{{item.name}}</ion-card-header>
          </ion-card>
        </ng-container>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
