<ion-content>
  <ion-card>

        <ion-card-header class="card-header-with-button">
          <ion-button (click)="dismissModal()" class="close-button" shape="round" fill="clear" style="color:black;">
            <ion-icon slot="icon-only" name="close-outline" size="large"></ion-icon>
          </ion-button>
          <ion-card-title>Step by Step Instructions</ion-card-title>
        </ion-card-header>
    
    <ion-card-content>
      <h3 style="color: black;">Step {{ currentStepIndex + 1 }}/{{this.recipeData.instructions.length}}</h3>
      <ion-progress-bar [value]="progress"></ion-progress-bar>

      <ion-card style="color: black;background-color: #D5EDD8;margin-left:0px;margin-bottom:0px;margin-right:0px;">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2 style="font-size: large;">Step {{ currentStepIndex + 1 }}:</h2>
            </ion-col>
            <ion-col size="auto">
              <div class="ion-align-items-end">
                <ion-button id="volume-icon" shape="round" fill="clear" style="color: black;">
                  <ion-icon slot="icon-only" name="volume-high-outline" size="large"></ion-icon>
                </ion-button>
                <ion-popover trigger="volume-icon" side="bottom" alignment="end" triggerAction="click" >
                  <ng-template>
                      <ion-item>
                        <ion-label>Volume</ion-label>
                        <ion-range min="0" max="10" step="1" [pin]="true" [(ngModel)]="volume" (ionChange)="updateVolume($event)"></ion-range>
                      </ion-item>
                      <ion-item>
                        <ion-label>Speed</ion-label>
                        <ion-range min="0.1" max="2" step="0.1" [pin]="true"  [(ngModel)]="speed" (ionChange)="updateSpeed($event)"></ion-range>
                      </ion-item>
                  </ng-template>
                </ion-popover>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <h1 style="font-size:xx-large;">{{ recipeData.instructions[currentStepIndex] }}</h1>
          </ion-row>

          <ion-row *ngIf="hasOptionsForCurrentStep()">
            <ion-col>
              <ion-list lines="none" *ngIf="hasOptionsForCurrentStep()">
                <ion-item *ngFor="let option of ingredientChecklist[currentStepIndex]">
                  <ion-checkbox labelPlacement="end" justify="start">
                    <div class="ion-text-wrap">{{ option }}</div>
                  </ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button style="--background:#85C784;" strong="true" expand="block" (click)="previousStep()" [disabled]="currentStepIndex === 0">
                Previous
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button style="--background:#85C784;" strong="true" expand="block" (click)="nextStep()" [disabled]="currentStepIndex === recipeData.instructions.length - 1">
                Next
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-card-content>
  </ion-card>

    <!-- New ion-card -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ additionalCardTitle }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img [src]="'https://t4.ftcdn.net/jpg/01/07/57/91/360_F_107579101_QVlTG43Fwg9Q6ggwF436MPIBTVpaKKtb.jpg'" alt="Camera Image" />
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button strong="true" expand="block" (click)="handleAction('Previous')" [class.pressed]="pressedButton === 'Previous'">
              <span class="emoji">👈</span><span>Previous Step</span>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button strong="true" expand="block" (click)="handleAction('Repeat')" [class.pressed]="pressedButton === 'Repeat'">
                <span class="emoji">🙌</span><span>Repeat</span>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button strong="true" expand="block" (click)="handleAction('Next')" [class.pressed]="pressedButton === 'Next'">
                <span class="emoji">👉</span><span>Next Step</span>    
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button strong="true" expand="block" (click)="handleAction('Stop')" [class.pressed]="pressedButton === 'Stop'">
              <span class="emoji">🤚</span><span>Stop</span>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button strong="true" expand="block" (click)="handleAction('VolumeUp')" [class.pressed]="pressedButton === 'VolumeUp'">
              <span class="emoji">🔊</span><span>Volume Up</span>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button strong="true" expand="block" (click)="handleAction('VolumeDown')" [class.pressed]="pressedButton === 'VolumeDown'">
              <span class="emoji">🔉</span><span>Volume Down</span>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button strong="true" expand="block" (click)="handleAction('SpeedUp')" [class.pressed]="pressedButton === 'SpeedUp'">
              <span class="emoji">⏩</span><span>Increase Speed</span>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button strong="true" expand="block" (click)="handleAction('SpeedDown')" [class.pressed]="pressedButton === 'SpeedDown'">
              <span class="emoji">⏪</span><span>Decrease Speed</span>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  
</ion-content>

