.content {
    padding: 16px;
  }
  
  .progress-bar ion-progress-bar {
    margin-bottom: 8px;
  }
  
  .step-instruction {
    margin-bottom: 16px;
    h2 {
      font-size: 1.2em;
    }
    p {
      margin: 8px 0 8px 0;
    }
    ion-icon {
      margin-left: 8px;
    }
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    ion-button {
      flex: 1;
      margin: 0 4px; // Adjust spacing between buttons
    }
  }

  .card-header-with-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .close-button {
    position: absolute;
    left: 0;
    margin-left: 8px;
  }
  
  .volume-icon {
    right: 0;
    margin-right: 8px; /* Add margin for spacing */
    cursor: pointer;

  }

  .ingredient-list{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .ingredient-checkbox {
    font-size: 18px;
  }

  ion-progress-bar {
    margin-bottom: 10px; /* Adjust margin as desired */
    --progress-background: #87FF84;
    --background: white;
  }
  
  ion-card img {
    width: 100%; /* Ensure the image takes full width of the card */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add bottom margin for spacing */
  }

  ion-card {
    --background: #A4C2A8;
  }
  
  /* Style for pressed button */
  ion-button.pressed {
    --background: green;    /* Change to green when pressed */
    --background-activated: green; /* Ensure it stays green while pressed */
  }

  ion-button span.emoji {
    display: block;
    margin-bottom: 4px; /* Space between emoji and text */
  }

  ion-item {
    --inner-padding-end: 0; /* Reduce padding on the end side */
    --inner-padding-start: 0; /* Reduce padding on the start side */
    --background: #D5EDD8;
    color: black;
    --background-hover: #85C784;
    --color-hover: black;
  }

ion-list {
  background: #D5EDD8;
}

ion-card-title {
  color: black;
}

ion-checkbox {
  --border-color: black;
  --border-color-checked: black;
  --checkbox-background: #f5f5f5;
  --checkbox-background-checked: #f5f5f5;
  --checkmark-color: black;
}
  
ion-checkbox {
    white-space: pre-wrap; /* Preserve whitespace and wrap text */
    overflow-wrap: break-word; /* Break long words */
    word-break: break-word; /* Ensure words break properly to next line */
}

ion-icon {
  color: black;
}

ion-content {
  --background: #FFF9ED;
}